body {
    padding: 0 15% 0 15%;
    background-color: rebeccapurple;
}

article {
    background-color: dimgrey;
}


#head1 {
    font-family: Saab;
    font-size: larger;
    ;
}

p {
    font-family: cursive;
}

img {
    width: 150px;
    margin-left: 40%;
}